  <data-ng-include src="'views/partials/header.html'"></data-ng-include>
<script type="text/javascript" src="assets/js/download.js"></script>

<section>
  <div class="container">
    <div class="row">
        
      <div class="col-sm-12 col-md-12">

        
        <a href="#/locations/add">
        <span>Add Location</span>
        </a>
        <!-- </div> -->
        <br/>
        <br/>

        <div class="col-sm-12 col-md-4">
          <label>Select Location Tags</label>
          <select id="" class="form-control" name="tagSelection"  ng-change="loadLoactionsByTag()" ng-model="selectedTag">
            <option ng-click="" value="">Select Tag</option>
            <option ng-repeat="locationTag in sortedTags"  value="{{locationTag.id}}" ng-selected="" ng-if="$index<5">{{locationTag.name}}</option>
          </select>
        </div>

        <div class="row">
         
          <table>
            <tr>
              <th>Location Name </th>
            </tr>
            <tr ng-repeat="fetchedLocation in fetchedLocations">
              <td style="width: 10%"><a href="/#/locations/{{fetchedLocation.id}}" >{{fetchedLocation.name}}</a>
              </td>
            </tr>        
                     
          </table>
        </div>


      </div>
    </div>
  </div>
    
</section>
