  <data-ng-include src="'views/partials/header.html'"></data-ng-include>
<script type="text/javascript" src="assets/js/download.js"></script>

<section>
  <div class="container">
    <div class="row">
      <data-ng-include src="'views/partials/left-sidebar.html'"></data-ng-include>      
      <div class="col-sm-9 col-md-9">

        <!-- <div class="row">
          <div class="panel panel-default" ng-repeat="friend in friends | otherFilter">  
          {{friend.name}} 
          </div>
        </div> -->
        <!-- <div class="row"> -->
        <a href="#/locations/add">
        <span>Add Location</span>
        </a>
        <!-- </div> -->
        <br/>
        <br/>

        <div class="col-sm-4 col-md-4">
          <label>Select Location Tags</label>
          <select id="" class="form-control" name="tagSelection"  ng-change="loadLoactionsByTag()" ng-model="selectedTag">
            <option ng-click="" value="">Select Tag</option>
            <option ng-repeat="locationTag in sortedTags"  value="{{locationTag.id}}" ng-selected="" ng-if="$index<5">{{locationTag.name}}</option>
          </select>
        </div>

        <div class="row">
          <ul>
          <li ng-repeat = "fetchedLocation in fetchedLocations"><a href="/#/locations/{{fetchedLocation.id}}" >{{fetchedLocation.name}}</a></li>
          <ul>
          
        </div>

      </div>
    </div>
  </div>
    
</section>