<data-ng-include src="'views/partials/header.html'"></data-ng-include>
<section>
    <div class="container">
        <div class="row">
            <data-ng-include src="'views/partials/left-sidebar.html'"></data-ng-include>
            <div class="row"> <!-- main col left -->
              <div class="col-sm-9 col-md-9">
              <h4>Assign Location for {{userName}}</h4>
              <br/>
                <div id="top" class="login-container">                    
                    <form  name="assignLocation" ng-submit="save()">

                      <div class="col-sm-4 col-md-4 envelop" ng-repeat="locationTag in sortedTags" id="envelop_{{locationTag.name}}" ng-if="$index < 5">                        
                        <label>Select {{locationTag.name}}</label>
                        <select id = "id_{{locationTag.name}}" name = "select_{{locationTag.name}}" id="" class="form-control" ng-change="loadChildSelect(locationTag.name)" ng-model="selections[locationTag.name]"
                        ng-options="loc.id as loc.name for loc in selectOptions[locationTag.name]">               
                        </select>  
                      </div>

                      <div class="col-sm-4 col-md-4">
                        <label>Select Block</label>
              
                        <span ng-repeat="unitName in unitNames">
                        <input type="checkbox" ng-click="unitSelections[unitName] = !unitSelections[unitName]" ng-checked="unitSelections[unitName]"> {{unitName}}
                        </span>
                      </div>

                      <div class="col-sm-4 col-md-4">
                        <button type="submit" ng-disabled="!selections['Upazilla']" class="btn btn-lg btn-primary btn-block">Submit</button>
                      </div>
                    </form>
                    <div class="spinner" ng-show="loading"> <center><img src="images/spinner.gif"  alt="Opensrp"/></center></div>
                </div>
                </div>
            </div>

        </div>
    </div>
</section>
