<data-ng-include src="'views/partials/header.html'"></data-ng-include>
<section>
  <div show-during-resolve class="loader">   
    <center><img src="images/spinner.gif"  alt="Opensrp"/></center>
  </div>
  <div class="container">
    <div class="row">            
      <div class="row"> <!-- main col left -->               
        <div class="col-sm-12 col-md-12">
          <div id="top" class="login-container">                  
            <a href="#/camp/add">
              <i class="glyphicon glyphicon-list-alt"></i>        
              <span>Add Camp</span>
            </a>
            <div flash-message="5000" ></div>
            <div id="message"></div>


          </div>
        </div>
      </div>
    </div>
    <div class="row">

      <div class="col-md-6 text-center">
        <div class="btn-group">

          <button
          class="btn btn-primary"
          mwl-date-modifier
          date="camp.viewDate"
          decrement="camp.calendarView">
          Previous
        </button>
        <button
        class="btn btn-default"
        mwl-date-modifier
        date="camp.viewDate"
        set-to-today>
        Today
      </button>
      <button
      class="btn btn-primary"
      mwl-date-modifier
      date="camp.viewDate"
      increment="camp.calendarView">
      Next
    </button>
  </div>
</div>

<br class="visible-xs visible-sm">
<h2 class="text-center">{{ camp.calendarTitle }}</h2>


</div>

<br>

<mwl-calendar
  events="camp.events"
  view="camp.calendarView"
  view-title="camp.calendarTitle"
  view-date="camp.viewDate"
  on-event-click="camp.eventClicked(calendarEvent)"
  on-event-times-changed="camp.eventTimesChanged(calendarEvent); calendarEvent.startsAt = calendarNewEventStart; calendarEvent.endsAt = calendarNewEventEnd"
  cell-is-open="camp.isCellOpen"
  day-view-start="06:00"
  day-view-end="22:59"
  day-view-split="30"
  cell-modifier="camp.modifyCell(calendarCell)">
</mwl-calendar>
</div>
</div>    
</section>






