  <data-ng-include src="'views/partials/header.html'"></data-ng-include>

<section>  
  <div class="container">
    <div class="row">
      <!-- <data-ng-include src="'views/partials/left-sidebar.html'"></data-ng-include>             -->
      <div class="col-sm-12 col-md-12">
          <div ng-if="loading" class="loader">   
              <center><img src="images/spinner.gif"  alt="Opensrp"/></center>
          </div>
          <div class="row"> <!-- main col left --> 
            <div class="starter-template3">
              <form  name="camp" ng-submit="search()">    
              <div class="col-md-2"> 
                <label>Thana</label>              
                <select class="form-control"  ng-options="thana.name for thana in thanaList" ng-model="formData.thana" ng-change="getUnion()" required>
                <option></option>              
                </select> 
              </div>
              <div class="col-md-2"> 
                <label>Union</label>                
                <select class="form-control" ng-options="union.name for union in unionList" ng-model="formData.union" ng-change="getWard()"><option></option> 
                </select> 
              </div>
              <div class=" col-md-2">
                <label>Ward</label>                 
                <select class="form-control" ng-options="ward.name for ward in wardList" ng-model="formData.ward" ng-change="getUnit()"><option></option>               
                </select> 
              </div>
              
              <div class=" col-md-2">
                <label>Unit</label> 
                <select class="form-control" ng-options="unit.name for unit in unitList" ng-model="formData.unit" ng-change="getHealthAssistant()"><option></option> 
                </select> 
              </div>

              <div class=" col-md-2">
                <label>Health Assistant</label> 
               <select class="form-control" ng-options="healthAssistant.user_name for healthAssistant in healthAssistantList" ng-model="formData.health_assistant">
                  <option value=""></option>                  
                </select>     
              </div>
              <div class=" col-md-2">
                <br />
               <button type="submit" class="btn btn-lg btn-primary ">Search</button>    
              </div>
              </form>   
            </div> <!-- main col right -->                           
          </div><!--/row-->
                   
          <div class="row">
          <div class="col-xs-12">
            <div class="box">
              <div class="box-header">
                <h3 style="float:right" class="btn btn-info btn-lg">
                  <a style="color:white" href="#/camp/add"> Add new camp</a></h3>
              </div>
            </div>
          </div>
          <div style="clear:both"></div>
          <div class="row" >
            <div class="alert alert-danger" ng-show="emptyDataShowHide"> No camp found....</div>
          </div>
          <div class="row" ng-show="dataShowHide">
            <div class="col-xs-12 col-lg-12">
                <!-- content accordion  start -->           
              <div class="panel-group" id="accordion2" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                  <div class="panel-heading2" role="tab" id="headingOne">
                    <table>
                      <thead> <!--table head-->
                        <tr style="background:none">
                          <th style="width:228px;">
                               Session Name                                                 
                          </th>
                          <th style="width:157px;">
                              Session Location
                          </th>
                          <th style="width:150px;">
                            Health Assistant                               
                          </th>
                          <th style="width:154px;">
                            Session Date                                                              
                          </th>
                          <th style="width:154px;">
                            Actions                                                             
                          </th>                                            
                        </tr>
                      </thead><!--//table head-->
                    </table>                        
                  </div>  <!--end panel-heading2 -->                     
                </div> <!--end panel panel-default -->
                 
                <div class="panel panel-default" dir-paginate="session_dates in searchData |itemsPerPage:itemsPerPage" total-items="total_count" current-page="pagination.current">
                  <div class="panel-heading2" role="tab" id="headingTwo2">
                    <table class="table table-striped collapsed"  data-toggle="collapse" data-parent="#accordion2" href="#{{session_dates.timestamp}}{{session_dates.session_date}}" aria-expanded="false" aria-controls="collapseTwo">
                      <thead>
                        <tr>
                          <td style="width:150px;">                                           
                            {{session_dates.session_name}} -  [{{session_dates.session_date}}]   
                          </td>                                       
                          <td style="width:100px;">{{session_dates.session_location}}</td>
                          <td style="width:100px;">{{session_dates.health_assistant}}</td>
                          <td style="width:100px;">{{session_dates.session_date}}</td>
                          <td style="width:100px;"><a href="/#/camp/edit/{{session_dates.session_id}}">Edit</a>     &nbsp;<a href="/#/camp/view/{{session_dates.session_id}}/{{session_dates.session_date}}/{{session_dates.status}}">View</a></td> 
                        </tr>
                      </thead>
                    </table><!--//table body-->                    

                  </div> <!--end  panel-heading2 -->
                                   
                </div> <!-- end panel panel-default -->
              <div class="row">
                <div class="col-md-3 col-lg-10 ">
                  <dir-pagination-controls
                   max-size="8"
                   direction-links="true"
                   boundary-links="true" 
                   on-page-change="getData(newPageNumber)" >
                </dir-pagination-controls>
                </div>                
              </div>
            </div><!-- end panel-group-->
          </div> <!-- end col-xs-12 col-lg-12-->
        </div><!--end row -->


        


        
      </div><!-- col-sm-9 col-md-9  end -->


    </div> <!--end row -->
  </div>   <!--end container -->  
</section>







