<data-ng-include src="'views/partials/header.html'"></data-ng-include>

<!--<link rel="stylesheet" href="assets/css/MarkerCluster.css" />
<link rel="stylesheet" href="assets/css/MarkerCluster.Default.css" /> -->
<section>  
  <div class="container">
    <div class="row">
      <data-ng-include src="'views/partials/left-sidebar.html'"></data-ng-include>            
      <div class="col-sm-9 col-md-9">
          <div show-during-resolve class="loader">   
              <center><img src="images/spinner.gif"  alt="Opensrp"/></center>
          </div>


        <div class="row">
          <div class="row">
          <div class="col-sm-4 col-md-4"> 
          <h3>Session Date : {{session_date}}</h3>
          </div> 
          </div>               
          <div class="row"> 

            <div class="col-sm-4 col-md-4">
            <b>Session name: </b> {{formData.session_name}}                            
            </div>
            <div class="col-sm-4 col-md-4">
            <b>Session Location: </b> {{formData.session_location}}
            </div>
            <div class="col-sm-4 col-md-4">
            <b>Total HH no.</b>  {{formData.total_hh}}            
            </div>          
          </div>
          
           <div class="row">
                    
            <div class="col-sm-4 col-md-4">
            <b>Total population: </b> {{formData.total_population}}
            </div>
            <div class="col-sm-4 col-md-4">
            <b>15 yrs aged adolescent no.</b> {{formData.total_adolescent}}               
            </div>
            
            <div class="col-sm-4 col-md-4">
            <b>15-49 yrs aged women no.: </b>   {{formData.total_women}}
                         
            </div>
          </div>
                   
           
           <div class="row">
            <div class="col-sm-4 col-md-4">
            <b>0-11 month aged child no.: </b> {{formData.total_child0}}
            </div>                   
            <div class="col-sm-4 col-md-4">
            <b>12-23 month aged child no.: </b> {{formData.total_child1}}
             
            </div> 
            <div class="col-sm-4 col-md-4">
            <label>0-5 yrs aged child no.:</label> {{formData.total_child2}}
             
            </div>                     
          </div>         
          
                   
        </div>
      </div><!-- col-sm-9 col-md-9  end -->


    </div> <!--end row -->
  </div>   <!--end container -->  
</section>







