  <data-ng-include src="'views/partials/header.html'"></data-ng-include>

<section>  
  <div class="container">
    <div class="row">
      <!-- <data-ng-include src="'views/partials/left-sidebar.html'"></data-ng-include>             -->
      <div class="col-sm-12 col-md-12">
        <div class="row">
          <div class="col-md-3" ng-repeat="(key,value) in data"> 
            <label>{{key}} :</label>{{value}}
          </div>   
        </div>
      </div> <!--end row -->
      <div class="col-sm-12 col-md-12">
        <div class="row"  ng-repeat="(key,value) in details">           
          <div ng-repeat="(key,value) in member" class="col-md-6" >
            <div class="col-md-3"> 
              <label>{{key}} :</label>{{value}}
            </div>
          </div>            
        </div>
      </div> <!--end row -->
      <h1> BNF Visit</h1>
      <div class="col-sm-12 col-md-12">
        <div class="row"  ng-repeat="(key,value) in BNFVisit">           
          <div ng-repeat="(key,value) in member" class="col-md-6" >
            <div class="col-md-3"> 
              <label>{{key}} :</label>{{value}}
            </div>
          </div>            
        </div>
      </div> <!--end row -->

      <h1> TT Visit</h1>
      <div class="col-sm-12 col-md-12">
        <div class="row"  ng-repeat="(key,value) in TTVisit">           
          <div ng-repeat="(key,value) in member" class="col-md-6" >
            <div class="col-md-3"> 
              <label>{{key}} :</label>{{value}}
            </div>
          </div>            
        </div>
      </div> <!--end row -->

      <h1> General Visit</h1>
      <div class="col-sm-12 col-md-12">
        <div class="row"  ng-repeat="(key,value) in generalVisit">           
          <div ng-repeat="(key,value) in member" class="col-md-6" >
            <div class="col-md-3"> 
              <label>{{key}} :</label>{{value}}
            </div>
          </div>            
        </div>
      </div> <!--end row -->

      <h1> Child Vaccine</h1>
      <div class="row"  ng-repeat="vaccine in data.child_vaccine"> 
        <h1>Child Vaccine : {{$index+1}}</h1>
        <div style="background-color:black">
          <div ng-repeat="(key,value) in vaccine" class="col-md-3" > 
            <label>{{key}} :</label>{{value}} 
          </div>
        </div>
      </div>

    </div>   
  </div> <!--end container --> 
</section>







